<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted  me-1">Copyright © {{ currentYear }}</span>
    <a href="https://github.com/vdiefn/animal-hospital-forum" target="_blank">
      <i class="fa-brands fa-github" style="color: #3063bb;"></i>
    </a>
    
  </div>
  <div class="container text-center">
    <span class="text-muted">Special Thanks To <a href="https://storyset.com/web" style="text-decoration: none;">Web illustrations by Storyset</a></span>
  </div>
</footer>
